{% load i18n %}
<div class="span2">
    <ul class="nav nav-list">
        <li class="nav-header">{% trans 'My Courses' %}</li>
        {% for course_ in courses %}
            <li{% ifequal course.id course_.id %} class="active"{% endifequal %}><a href="{% url courses.views.view course_.id %}">{{ course_.name }}</a></li>
        {% endfor %}
        <li><small><a href="{% url courses.views.create %}">{% trans "Add course" %}</a></small></li>
    </ul>
</div>