{% extends "base.html" %}
{% load bootstrap i18n staticfiles %}

{% block content %}
{% include "coursenav.html" %}
<div class="span10">
    <ul class="nav nav-tabs">
        <li{% if tab == '' %} class="active"{% endif %}><a href="#list" data-toggle="tab">{% trans "Existing Courses" %}</a></li>
        <li{% if tab == 'create' %} class="active"{% endif %}><a href="#new" data-toggle="tab">{% trans "Create New Course" %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane{% if tab == '' %} active{% endif %}" id="list">
            <table class="table">
                {% for course in courses_available %}
                <tr{% if user in course.members.all %} class="success"{% elif user in course.pending.all %} class="warning"{% endif %}>
                    <td>{{ course.name }}{% if course.description %}<br><small>{{ course.description }}</small>{% endif %}</td>
                    <td><a href="#" data-id="{{ course.id }}" class="request-course btn btn-mini{% if user in course.members.all or user in course.pending.all %} disabled{% endif %}">{% if user in course.members.all %}{% trans "Already member" %}{% elif user in course.pending.all %}{% trans "Request sent" %}{% else %}{% trans "Send request" %}{% endif %}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane{% if tab == 'create' %} active{% endif %}" id="new">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn" value="{% trans 'Create Course' %}">
            </form>
        </div>
    </div>
</div> <!-- /span10 -->
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
window.collabuni.text_request_success = '{% trans "A request has been sent to the course admins." %}';
</script>
<script type="text/javascript" src="{% static 'js/views/courseedit.js' %}"></script>
{% endblock %}