{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
{% include "coursenav.html" %}
<div class="span8">
    {% if folder.parents %}
        <ul class="breadcrumb">
            <li><a href="{% url courses.views.view course.id %}">Home</a> <span class="divider">/</span></li>
            {% for parent in folder.parents %}
                <li{% if forloop.last %} class="last"{% endif %}>
                    <a href="{% url courses.views.view course.id parent.id %}">{{ parent.name }}</a>
                    {% if not forloop.last %}
                        <span class="divider">/</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
var collabuni = {
    parent: {{ folder.id|default:'""' }},
    course: {{ course.id }}
};
</script>
<script type="text/javascript" src="{% static 'js/views/courseview.js' %}"></script>
{% endblock %}