{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
{% include "coursenav.html" %}
<div class="span8">
    <div class="row">
        {% if not courses %}
        <div class="alert">
            {% trans "You aren't a member of any course yet. Start by addind a course from the navigation." %}
        </div>
        {% endif %}
        {% for course in courses %}
            <div class="span4">
                <div class="well course-well">
                    <h4><a href="{% url courses.views.view course.id %}">{{ course.name }}</a></h4>
                    {% if course.get_latest_files %}
                    <table class="table table-condensed latest-files">
                        <tbody>
                            {% for file in course.get_latest_files %}
                            <tr data-course="{{ file.course.id }}" data-folder="{{ file.parent.id|default:'' }}" data-id="{{ file.id }}">
                                <td>{{ file.name }}</td>
                                <td>{{ file.uploaded|timesince }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info">
                        {% trans "There are no files in this course yet." %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
var collabuni = {
    parent: {{ folder.id|default:'""' }},
    course: {{ course.id }}
};
</script>
<script type="text/javascript" src="{% static 'js/views/courseindex.js' %}"></script>
{% endblock %}