{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
{% include "coursenav.html" %}
<div class="span8">
    <h3>{% trans "Requests" %}</h3>
    {% if course.pending.all %}
        <table class="table">
            {% for requester in course.pending.all %}
            <tr>
                <td>{{ requester.get_full_name|default:requester }}</td>
                <td>{{ requester.email }}</td>
                <td><a href="{% url courses.views.requests course.id requester.id %}?token={{ csrf_token }}" class="btn btn-mini pull-right approve-button">{% trans "Approve request" %}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert">
            {% trans "There are currently no open requests." %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
</script>
<script type="text/javascript" src="{% static 'js/views/courseview.js' %}"></script>
{% endblock %}