{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/prettify.css' %}">
{% endblock %}


{% block content %}
{% include "coursenav.html" %}
<div class="span8">
    <h3>{% trans "Documents" %} <span class="icon-upload upload-file"></span> <span class="icon-folder-close new-folder"></span></h3>
    {% if folder.parents %}
        <ul class="breadcrumb">
            <li><a href="{% url courses.views.view course.id %}">Home</a> <span class="divider">/</span></li>
            {% for parent in folder.parents %}
                <li{% if forloop.last %} class="last"{% endif %}>
                    <a href="{% url courses.views.view course.id parent.id %}">{{ parent.name }}</a>
                    {% if not forloop.last %}
                        <span class="divider">/</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <table class="table table-striped table-hover filesnfolders">
        <tr class="hide warning" id="newfolder-tr">
            <td><img src="{% static 'img/file-extensions/folder.png' %}"></td>
            <td colspan="3">
                <div class="input-append">
                    <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn" type="button">{% trans "Create" %}</button>
                </div>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="hide info" id="newfolder-waiting">
            <td colspan="6">{% trans "Creating folder..." %}</td>
        </tr>
    {% if folders or files %}
            {% for folder in folders %}
                <tr{% if folder in ufoc %} class="info"{% endif %}>
                    <td><img src="{% static 'img/file-extensions/folder.png' %}"></td>
                    <td><a href="{% url courses.views.view course.id folder.id %}">{{ folder.name }}</a></td>
                    <td class="hidden-phone"></td>
                    <td class="hidden-phone"></td>
                    <td>{{ folder.lastchange|timesince }}</td>
                    <td class="closetd folder"><span class="icon-remove" data-id="{{ folder.id }}" data-name="{{ folder.name }}"></span></td>
                </tr>
            {% endfor %}
            {% for file in files %}
                <tr{% if file in ufic %} class="info"{% endif %}>
                    <td><img src="{% static file.extension %}"></td>
                    <td><a href="{% url courses.views.download file.id %}" data-type="{{ file.filetype }}" data-id="{{ file.id }}" class="filedownloadlink">{{ file.name }}</a> {% if file.get_comment_count %}<span class="label">{{ file.get_comment_count }}</span>{% endif %}</td>
                    <td class="hidden-phone">{{ file.owner.get_full_name|default:file.owner.email }}</td>
                    <td class="hidden-phone">{{ file.file.size|filesizeformat }}</td>
                    <td>{{ file.uploaded|timesince }}</td>
                    <td class="closetd file">
                        {% ifequal file.owner user %}
                            <span class="icon-edit renamefile" data-id="{{ file.id }}" data-name="{{ file.name }}"></span>
                            <span class="icon-remove delfile" data-id="{{ file.id }}" data-name="{{ file.name }}"></span>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
    {% else %}
        <div class="alert alert-info empty-alert">
            {% trans "This directory is empty." %}
        </div>
    {% endif %}
    </table>
</div> <!-- /span8 -->

<div class="span2">
    <div class="clearfix">
        <h4><span class="slash">//</span> {% trans "Course Members" %}</h4>
        {% for member in course.members.all %}
            <div class="circle-icon member" rel="tooltip" title="{{ member.get_full_name|default:member.email }}">
                <div>
                    <i class="icon-user"></i>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h4><span class="slash">//</span> {% trans "Course Admins" %}</h4>
        {% for admin in course.admins.all %}
            <div class="circle-icon admin" rel="tooltip" title="{{ admin.get_full_name|default:admin.email }}">
                <div>
                    <i class="icon-user"></i>
                </div>
            </div>
        {% endfor %}
    </div>
</div> <!-- /span2 -->


<!-- File Upload Modal -->
<div class="modal hide fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% if folder %}{% blocktrans %}Upload file to "{{ folder_name }}"{% endblocktrans %}{% else %}{% trans "Upload file" %}{% endif %}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error no-file hide">
            <strong>{% trans "Error!" %}</strong> {% trans "You must select a file." %}
        </div>
        <form action="/upload/" method="POST" enctype="multipart/form-data" id="file-form">
            {% csrf_token %}
            {{ fileform|bootstrap }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        <button class="btn btn-primary" id="upload-file-btn">{% trans "Upload" %}</button>
    </div>
</div>
<!-- /File Upload Modal -->

<!-- Folder Delete Modal -->
<div class="modal hide" id="folder-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span class='empty hide'>{% trans "Are you serious?" %}</span><span class='notempty hide'>{% trans "Ooops." %}</span></h3>
    </div>
    <div class="modal-body">
        <p class='hide empty'>{% trans "Do you really want to delete '<span class='delfoldername'></span>'?" %}</p>
        <p class='hide empty'>{% trans "It does not contain any files, so there shouldn't be too much hassle with it. But it's up to you." %}</p>
        <p class='hide notempty'>{% trans "You can't delete '<span class='delfoldername'></span>' because it's not empty." %}</p>
    </div>
    <div class="modal-footer">
        <div class="hide empty">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
            <button class="btn btn-danger" id="rlydeletefolder">{% trans "Delete Folder" %}</button>
        </div>
        <div class="hide notempty">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans "Okay ;(" %}</button>
        </div>
    </div>
</div>
<!-- /Folder Delete Modal -->

<!-- File Delete Modal -->
<div class="modal hide" id="file-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans "Are you serious?" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to delete '<span class='delfilename'></span>'? This cannot be undone." %}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        <button class="btn btn-danger" id="rlydeletefile">{% trans "Delete File" %}</button>
    </div>
</div>
<!-- /File Delete Modal -->

<!-- File View Modal -->
<div class="modal hide" id="file-view-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="fileviewheading"></h3>
    </div>
    <div class="modal-body">
        <div id="fileviewcontent"></div>
        <h4>{% trans "Comments" %}</h4>

        <div id="comments"></div>

        <form accept-charset="UTF-8" action="" method="POST" id="comment_form">
            <textarea id="new_comment" name="new_comment"
            placeholder="{% trans 'Comment' %}"></textarea>
            <h6 class="pull-right"><span id="char_remaining">320</span> {% trans "characters remaining" %}</h6>
            <button class="btn btn-info" type="submit" id="post_comment">{% trans "Post Comment" %}</button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        <button class="btn btn-primary" id="filedownload">{% trans "Download" %}</button>
    </div>
</div>
<!-- /File View Modal -->



{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
window.collabuni = {
    parent: {{ folder.id|default:'""' }},
    course: {{ course.id }},
    text_empty_foldername: '{% trans "Folder name must not be empty." %}',
    static_url: '{{ STATIC_URL }}'
};
</script>
<script type="text/javascript" src="{% static 'js/views/courseview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.timeago.js' %}"></script>
<script type="text/javascript" src="{% static 'js/code/prettify.js' %}"></script>
<script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
{% endblock %}