<% for(var i = 0; i < comments.length; i++) { %>
<div class="media">
    <div class="circle-icon media-object comment-img pull-left">
        <div>
            <i class="icon-user"></i>
        </div>
    </div>
    <div class="media-body">
        <h5 class="media-heading"><%= comments[i].user %><span class="pull-right"><small class="timeago" title="<%= comments[i].date_posted %>"></small></span></h5>
        <p><%= comments[i].comment.replace('\n', '<br>') %></p>
    </div>
</div>
<% } %>