{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collabuni{% if headline %} - {% ifequal headline|length 2 %}{{ headline.0 }}{% else %}{{ headline }}{% endifequal %}{% endif %}{% if subheadline %} - {{ subheadline }}{% endif %}</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/reboot-landing.css' %}">
        <link rel="stylesheet" href="{% static 'css/reboot-landing-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/themes/green/theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/signify.css' %}">
        <link rel="stylesheet" href="{% static 'css/collabuni.css' %}">
        {% block extracss %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Collabuni</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                {% include "nav_top_auth.html" %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if headline %}
            <div id="subheader">
                <div class="inner">    
                    <div class="container">
                        <h1>{% ifequal headline|length 2 %}<a href="{{ headline.1 }}">{{ headline.0 }}</a>{% else %}{{ headline }}{% endifequal %}</h1>
                    </div> <!-- /.container -->
                </div> <!-- /inner -->
            </div> <!-- /subheader -->
        {% endif %}
        {% if not outercontent %}
        <div id="subpage">  
            <div class="container">
                {% if subheadline %}
                    <div class="row">
                        <div class="span12">
                            <h2><span class="slash">//</span> {% ifequal subheadline|length 2 %}{{ subheadline.0 }}{% else %}{{ subheadline }}{% endifequal %}</h2>
                        </div> <!-- /span12 -->
                    </div> <!-- /row -->
                {% endif %}

                <div class="row main-content">
                    <div class="span12 messages-row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>{{ message.tags|capfirst }}:</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% block content %}{% endblock %}
                </div> <!-- /row -->
            </div> <!-- /container -->
        </div> <!-- /subpage -->
        {% endif %}
        {% block outercontent %}{% endblock %}


        <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ejs_production.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/collabuni.js' %}"></script>
        {% block additionaljs %}{% endblock %}
        
        <div id="footer">        
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="span9">
                            &copy; 2012 <a href="http://collabuni.com">collabuni.com</a>. Built by the <a href="http://productgang.com" target="_blank">Product Gang</a>.
                        </div> <!-- /span4 -->
                        <div class="span3">
                            <ul class="social-icons-container">
                                <li>
                                    <a href="https://twitter.com/collabuni" target="_blank" class="social-icon social-icon-twitter">Twitter</a>
                                </li>                        
                                <li>                            
                                    <a href="https://www.facebook.com/pages/Collabuni/477035382327976" target="_blank" class="social-icon social-icon-facebook">Facebook</a>
                                </li>
                            </ul>
                        </div> <!-- /span8 -->
                    </div> <!-- /row -->
                </div> <!-- /container -->
            </div> <!-- /inner -->
        </div> <!-- /footer -->
        <!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.lukasklein.com/" : "http://piwik.lukasklein.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 7);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.lukasklein.com/piwik.php?idsite=7" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
    </body>
</html>