{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/pages/homepage.css' %}">
{% endblock %}

{% block outercontent %}
<div id="landing">
    <div class="inner">
        <div class="container">
            <div class="row main-content">
                <div class="span4 landing-text">
                    <h1>{% trans "Welcome to Collabuni" %}</h1>
                    <p>{% blocktrans %}Collabuni allows you to easily collaborate with other students and exchange files and documents.{% endblocktrans %}</p>
                    <p class="landing-actions">
                        <a href="/join/" class="btn btn-large btn-inverse">{% trans "Join for free" %}</a>
                        <a href="/accounts/login/" class="btn btn-large">{% trans "Login" %}</a>
                    </p>
                </div> <!-- /landing-text -->           
                <div class="span8 landing-screenshot">  
                    <img src="{% static 'img/grab.png' %}" class="screengrab" alt="Screenshot" />
                </div>
            </div> <!-- .row -->
        </div> <!-- /container -->
    </div> <!-- /inner -->
</div> <!-- /landing --> 

{% comment %}
<div id="content">
                
    <div class="inner">     
        
        <div class="container">
            
            <div class="row">
            
                <div class="span8">
                
                        <h3><span class="slash">//</span> What You'll Get</h3>
                        
                        
                        <ul class="features-list">
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-list-alt"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #1</h3>
                                    <p>Nunc metus ligula, fringilla quis porta ut, tellus arcu  mi eget adipiscing dictum ut turpis. Aliquam eget odio.</p>                                 
                                </div> <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-flag"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #2</h3>
                                    <p>Vestibulum ante ipsum primis tellus arcu  mi eget adipiscing in faucibus orci luctus et ultrices posuere cubilia curae.</p>
                            </div> <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-resize-small"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #3</h3>
                                    <p>Aliquam justo massa, rhoncus quis tellus arcu  mi eget adipiscing suscipit eget, malesuada vel nulla. Sed ac nunc.</p>
                            </div> <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-tint"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #4</h3>
                                    <p>Phasellus mollis, tortor vitae ornare commodo, augue tellus arcu  mi eget adipiscing risus varius quam, sit amet.</p>
                            </div> <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-trophy"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #5</h3>
                                    <p>Sed feugiat pellentesque tellus arcu  mi eget adipiscing dui, laoreet aliquet enim condimentum quis commodo.</p>
                            </div> <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-file"></i>
                                        </div>
                                    </div> <!-- /circle-icon -->
                                </div> <!-- /feature-thumbnail -->
                                
                                <div class="feature-content">
                                    <h3>Feature #6</h3>
                                    <p>Phasellus varius sapien id ante ultrices eu malesuada mauris molestie. Cras erat tellus arcu  mi eget adipiscing quam.</p>
                            </div> <!-- /feature-content -->
                            </li>
                        </ul> <!-- /features-list -->
                        </ul> <!-- /features-list -->
                    
                </div> <!-- /span8 -->
                <div class="span4">
                        <h3><span class="slash">//</span> {% trans "Testimonials" %}</h3>
                        <ul class="testimonials-list">
                            <li>
                                <div class="testimonial-avatar">
                                    <div class="img">
                                        <img src="./img/avatar2.png" alt="Thumbnail" />                                 
                                    </div>
                                </div> <!-- /testimonial-avatar -->
                                <div class="testimonial-text">
                                    <p>
                                        <span class="testimonial-author">John Doe</span>
                                        Morbi a tellus tellus. Integer et ipsum ipsum, blandit pharetra nisl. In vitae lorem a magna.
                                    </p>                                
                                </div> <!-- /testimonial-text -->
                            </li>
                        </ul>   
                </div> <!-- /span4 -->
            </div> <!-- /row -->            
        </div> <!-- /container -->  
    </div> <!-- /inner -->
</div> <!-- /content -->   
{% endcomment %}
{% endblock %}