{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
{% include "coursenav.html" %}
<div class="span8">
    <div class="row">
        <ul class="nav nav-tabs">
            <li{% if tab == 'general' %} class="active"{% endif %}><a href="#general" data-toggle="tab">{% trans "General" %}</a></li>
            <li{% if tab == 'password' %} class="active"{% endif %}><a href="#password" data-toggle="tab">{% trans "Password" %}</a></li>
            <!--<li{% if tab == 'notifications' %} class="active"{% endif %}><a href="#notifications" data-toggle="tab">{% trans "Notifications" %}</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane{% if tab == 'general' %} active{% endif %}" id="general">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form1|bootstrap }}
                    <button class="btn">{% trans "Cancel" %}</button>
                    <input type="submit" name="form1" value="{% trans 'Save' %}" class="btn btn-primary">
                </form>
            </div>
            <div class="tab-pane{% if tab == 'password' %} active{% endif %}" id="password">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form2|bootstrap }}
                    <button class="btn">{% trans "Cancel" %}</button>
                    <input type="submit" name="form2" value="{% trans 'Save' %}" class="btn btn-primary">
                </form>
            </div>
            <div class="tab-pane{% if tab == 'notifications' %} active{% endif %}" id="notifications"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">
</script>
<script type="text/javascript" src="{% static 'js/views/courseindex.js' %}"></script>
{% endblock %}