{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
<div class="span6">
    <br><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="well">
            <div class="input-append">
                <input class="span4" type="email" name="email" placeholder="{% trans 'E-Mail' %}" value="{{ email }}" autofocus="autofocus"><button class="btn" type="submit">{% trans "Get started" %}</button>
            </div>
            {{ errors }}
            {% if uni_does_not_exist %}
            <h5>{% trans "Sad news :(" %}</h5>
            <p>{% trans "Unfortunately your uni is not yet participating in Collabuni. If you want we can notify you when we know more." %}</p>
            <button class="btn btn-primary" type="submit" name="notify" value="true">{% trans "Yes, please!" %}</button>
            {% endif %}
            {% if maillist_success %}
            <h5>{% trans "Thanks!" %}</h5>
            <p>{% trans "We'll let you know when Collabuni will be available at your uni." %}</p>
            {% endif %}
        </div>
    </form>
</div>
<div class="span6">
    <h3>{% trans "Joining Collabuni is easy and free" %}</h3>
    <ul>
        <li>{% trans "No fees" %}</li>
        <li>{% trans "Your data is yours" %}</li>
        <li>{% trans "All you need is an educational email address" %}</li>
    </ul>
</div>
{% endblock %}