{% extends "base.html" %}
{% load i18n bootstrap %}

{% block content %}
<div class="span12">
    {% if form.non_field_errors %}
    <div class="alert alert-error">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form action="/accounts/login/" method="POST">
        {% csrf_token %}
        <div class="control-group required{% if form.username.errors %} error{% endif %}">
    
        <label class="control-label" for="id_username">{% trans "E-Mail" %}</label>

        <div class="controls">
            <input id="id_username" type="text" name="username" />

            
            {% if form.username.errors %}
             <span class="help-inline">{{ form.username.errors }}</span>
            {% endif %}
            

        </div>
    
</div>


    
<div class="control-group required{% if form.password.errors %} error{% endif %}">
    
        <label class="control-label" for="id_password">{% trans "Password" %}</label>

        <div class="controls">
            <input type="password" name="password" id="id_password" />

            
            {% if form.password.errors %}
             <span class="help-inline">{{ form.password.errors }}</span>
            {% endif %}
            

        </div>
    
</div>

        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn">{% trans "Login" %}</button>
    </form>
</div>
{% endblock %}