{% extends "base.html" %}
{% load i18n staticfiles bootstrap %}

{% block content %}
<div class="span12">
    <p>{% trans "Thanks for signing up for Collabuni! You should have mail." %}</p>
</div>
{% endblock %}