{% load i18n %}
<li{% if path|slice:'1:8' == 'courses' %} class="active"{% endif %}><a href="{% url courses.views.index %}">{% trans "My Courses" %}</a></li>
<li class="dropdown">
    <a href="/notifications" class="dropdown-toggle" data-toggle="dropdown">{% trans "Notifications" %}{% if notification_unread_count %} <span class="label label-info">{{ notification_unread_count }}</span>{% endif %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% if not notifications %}
        <li><a href="#">{% trans "You have no notifications." %}</a></li>
        {% endif %}
        {% for notification in notifications %}
        <li><a href="{{ notification.link }}">{% if notification.done %}<strike>{% endif %}{% if not notification.read %}<strong>{% endif %}{{ notification.message }}{% if not notification.read %}</strong>{% endif %}{% if notification.done %}</strike>{% endif %}</a></li>
        {% endfor %}
    </ul>
</li>
<li{% if path|slice:'1:8' == 'account' %} class="active"{% endif %}><a href="{% url account.views.index %}">{% trans "My Account" %}</a></li>
<li class="logout"><a href="{% url account.views.vlogout %}"><span class="ico_power"></span></a></li>