.upload-file, .new-folder {
    color: #bbb;
    margin: 0 5px;
}

.upload-file:hover, .new-folder:hover {
    color: #222;
    cursor: pointer;
}

.filesnfolders td {
    min-height: 32px;
    line-height: 32px;
}

.filesnfolders td:first-child {
    width: 32px;
}

.filesnfolders td:last-child {
    text-align: right;
}

.closetd {
    position: relative;
}

.closetd span {
    visibility: hidden;
    cursor: pointer;
    margin-left: 5px;
}

tr:hover .closetd span {
    visibility: visible;
}

table.latest-files {
    font-size: 85%;
}

table.latest-files tr {
    cursor: pointer;
}

table.latest-files tr:hover {
    background-color: #eee;
}

#subheader h1 a {
    color: #eee;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.member, .admin {
    float: left;
    margin-right: 3px;
}

.logout:hover span {
    color: #800000;
}

.showpw {
    margin-left: 5px !important;
}

.main-content {
    min-height: 450px;
}

.comment-img {
    margin-right: 10px;
}

#new_comment {
    width: 98%;
    height: 50px;
}