@font-face {
    font-family: 'Signify';
    src: url('../fonts/signify-webfont.eot');
    src: url('../fonts/signify-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signify-webfont.woff') format('woff'),
         url('../fonts/signify-webfont.ttf') format('truetype'),
         url('../fonts/signify-webfont.svg#Signify') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ico_power:before	{ content:"0"; font-family: 'Signify';}
.ico_up:before	{ content:"1"; font-family: 'Signify';}
.ico_right:before	{ content:"2"; font-family: 'Signify';}
.ico_down:before	{ content:"3"; font-family: 'Signify';}
.ico_left:before	{ content:"4"; font-family: 'Signify';}
.ico_mediaplay:before	{ content:"5"; font-family: 'Signify';}
.ico_mediapause:before	{ content:"6"; font-family: 'Signify';}
.ico_mediastop:before	{ content:"7"; font-family: 'Signify';}
.ico_repeat:before	{ content:"8"; font-family: 'Signify';}
.ico_jumpback:before	{ content:"9"; font-family: 'Signify';}
.ico_arrow1:before	{ content:":"; font-family: 'Signify';}
.ico_arrow2:before	{ content:";"; font-family: 'Signify';}
.ico_mediarewind:before	{ content:"<"; font-family: 'Signify';}
.ico_checkmark:before	{ content:"="; font-family: 'Signify';}
.ico_mediaforward:before	{ content:">"; font-family: 'Signify';}
.ico_question:before	{ content:"?"; font-family: 'Signify';}
.ico_warning:before	{ content:"!"; font-family: 'Signify';}
.ico_speech:before	{ content:"\201C"; font-family: 'Signify';} /*Quotation Mark ( " )*/
.ico_dashboard:before	{ content:"#"; font-family: 'Signify';}
.ico_basket:before	{ content:"$"; font-family: 'Signify';}
.ico_cart:before	{ content:"%"; font-family: 'Signify';}
.ico_feed:before	{ content:"&"; font-family: 'Signify';}
.ico_exit:before	{ content:"'"; font-family: 'Signify';}
.ico_inbox:before	{ content:"("; font-family: 'Signify';}
.ico_refresh:before	{ content:")"; font-family: 'Signify';}
.ico_star:before	{ content:"*"; font-family: 'Signify';}
.ico_plus:before	{ content:"+"; font-family: 'Signify';}
.ico_smartphone:before	{ content:","; font-family: 'Signify';}
.ico_minus:before	{ content:"-"; font-family: 'Signify';}
.ico_dots:before	{ content:"."; font-family: 'Signify';}
.ico_target:before	{ content:"/"; font-family: 'Signify';}
.ico_book:before	{ content:"@"; font-family: 'Signify';}
.ico_action:before	{ content:"A"; font-family: 'Signify';}
.ico_box:before	{ content:"B"; font-family: 'Signify';}
.ico_copyright:before	{ content:"C"; font-family: 'Signify';}
.ico_delete1:before	{ content:"D"; font-family: 'Signify';}
.ico_email:before	{ content:"E"; font-family: 'Signify';}
.ico_folder:before	{ content:"F"; font-family: 'Signify';}
.ico_collection:before	{ content:"G"; font-family: 'Signify';}
.ico_heart:before	{ content:"H"; font-family: 'Signify';}
.ico_eye:before	{ content:"I"; font-family: 'Signify';}
.ico_file:before	{ content:"J"; font-family: 'Signify';}
.ico_chart:before	{ content:"K"; font-family: 'Signify';}
.ico_locked:before	{ content:"L"; font-family: 'Signify';}
.ico_music:before	{ content:"M"; font-family: 'Signify';}
.ico_news:before	{ content:"N"; font-family: 'Signify';}
.ico_world:before	{ content:"O"; font-family: 'Signify';}
.ico_print:before	{ content:"P"; font-family: 'Signify';}
.ico_playvideo:before	{ content:"Q"; font-family: 'Signify';}
.ico_original:before	{ content:"R"; font-family: 'Signify';}
.ico_search:before	{ content:"S"; font-family: 'Signify';}
.ico_tel:before	{ content:"T"; font-family: 'Signify';}
.ico_user:before	{ content:"U"; font-family: 'Signify';}
.ico_video:before	{ content:"V"; font-family: 'Signify';}
.ico_wifi:before	{ content:"W"; font-family: 'Signify';}
.ico_cross:before	{ content:"X"; font-family: 'Signify';}
.ico_settings1:before	{ content:"Y"; font-family: 'Signify';}
.ico_lightning:before	{ content:"Z"; font-family: 'Signify';}
.ico_time:before	{ content:"["; font-family: 'Signify';}
.ico_tags:before	{ content:"\005C"; font-family: 'Signify';} /*Back Slash ( / )*/
.ico_location:before	{ content:"]"; font-family: 'Signify';}
.ico_eyedropper:before	{ content:"^"; font-family: 'Signify';}
.ico_ribbon:before	{ content:"_"; font-family: 'Signify';}
.ico_wand:before	{ content:"`"; font-family: 'Signify';}
.ico_aeroplane:before	{ content:"a"; font-family: 'Signify';}
.ico_briefcase:before	{ content:"b"; font-family: 'Signify';}
.ico_cloud:before	{ content:"c"; font-family: 'Signify';}
.ico_delete2:before	{ content:"d"; font-family: 'Signify';}
.ico_edit:before	{ content:"e"; font-family: 'Signify';}
.ico_flag:before	{ content:"f"; font-family: 'Signify';}
.ico_download:before	{ content:"g"; font-family: 'Signify';}
.ico_home:before	{ content:"h"; font-family: 'Signify';}
.ico_info:before	{ content:"i"; font-family: 'Signify';}
.ico_settings2:before	{ content:"j"; font-family: 'Signify';}
.ico_windows:before	{ content:"k"; font-family: 'Signify';}
.ico_unlocked:before	{ content:"l"; font-family: 'Signify';}
.ico_magnet:before	{ content:"m"; font-family: 'Signify';}
.ico_new:before	{ content:"n"; font-family: 'Signify';}
.ico_date:before	{ content:"o"; font-family: 'Signify';}
.ico_camera:before	{ content:"p"; font-family: 'Signify';}
.ico_photos:before	{ content:"q"; font-family: 'Signify';}
.ico_notes:before	{ content:"r"; font-family: 'Signify';}
.ico_ship:before	{ content:"s"; font-family: 'Signify';}
.ico_truck:before	{ content:"t"; font-family: 'Signify';}
.ico_upload:before	{ content:"u"; font-family: 'Signify';}
.ico_view1:before	{ content:"v"; font-family: 'Signify';}
.ico_waterdrop:before	{ content:"w"; font-family: 'Signify';}
.ico_view2:before	{ content:"x"; font-family: 'Signify';}
.ico_batteryfull:before	{ content:"y"; font-family: 'Signify';}
.ico_batterylow:before	{ content:"z"; font-family: 'Signify';}
.ico_receive:before	{ content:"{"; font-family: 'Signify';}
.ico_settings3:before	{ content:"|"; font-family: 'Signify';}
.ico_send:before	{ content:"}"; font-family: 'Signify';}
.ico_link:before	{ content:"~"; font-family: 'Signify';}