
/*------------------------------------------------------------------

[Green Theme]

	Project:		Bootstrap Landing Template
	Version:		1.0
	Last change:	04/26/2012
	Assigned to:	Rod Howard (rh)


-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Navbar]
*/

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
	color: #81994D;
}

.navbar .nav > li > a {
	color: #FFF;
	
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.navbar .nav > li > a:hover {
	color: #BBB;
}

.navbar {
	border-bottom-color: #A4C160;
}

.navbar .navbar-inner {
	/*background: #333;	*/
	
	border-bottom: 1px solid #111;	
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #81994D;
	background: transparent;
}

.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after {
	top: -5px !important;
}

.navbar .brand {
	
	/* 	
	width: 180px;
	height: 34px;
	
	background: url(../img/logo.png) no-repeat 0 0; 
	*/
}




/*------------------------------------------------------------------
[Content]
*/


#content .inner {	
	
	background: #fff;
}

#content .container {
	border-width: 4px;
	border-color: #444;
}



/*------------------------------------------------------------------
[Landing]
*/

#landing .inner {
	background: #81994D url(./img/header-bg.png) repeat 0 0;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}




/*------------------------------------------------------------------
[Screenshots / #screenshots]
*/	

#screenshots {	
	background: #E8E8E8;
	
	border-top: 1px solid #CCC;
}

#screenshots .inner {
	border-top: 1px solid #FFF;
}




/*------------------------------------------------------------------
[Subheader]
*/

#subheader {
	color: #EEE;
	
	background: #444;
	
	border-color: #556828;
}

#subheader .inner {
	background: #81994D url(./img/header-bg.png) repeat 0 0;
	
}



/*------------------------------------------------------------------
[Extra]
*/

#extra {	
	border-top: 1px solid #000;
}

#extra .inner {	
	color: #fff;
	
	background-color: #222;
	
	border-top: 1px solid #555;
}



/*------------------------------------------------------------------
[Footer]
*/

#footer {
	border-top: 1px solid #000;
}

#footer .inner {		
	background: #111;
	
	border-top: 1px solid #222;	
}

.footer-links a {
	color: #777;
}



/*------------------------------------------------------------------
[Miscellaneous]
*/

.circle-icon {	
	
	background: #393939;
}

.circle-icon div {	
	color: #81994D;	
}

.slash {
	color: #677E30;
}

.sidebar {
	
	background: #EEE;
}



.nav-list > li.active > a,
.nav-list > li.active > a:hover {		
	color: #FFF;
	
	background: #81994D;
}